<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="OrangeHRM">

	<listeners>
		<listener class-name="com.OrangeHRM.utility.ExtentManager" />
	</listeners>


	<test name="OrangeHRM Test">
			<classes>
				<class name="com.OrangeHRM.testCases.TC_002" />
		</classes>

	</test>

</suite>